# Network Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# Wallet Connect Configuration
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Configuration
VITE_CONTRACT_ADDRESS=0xf33910f959DFBe8b463969c9a829dfe63cF7629e
VITE_USDC_TOKEN_ADDRESS=0x017856bE1B25795c42bBed3bC03612f9bEef1ac9
VITE_STADIUM_VAULT_ADDRESS=0xf33910f959DFBe8b463969c9a829dfe63cF7629e

# FHE Configuration
VITE_FHE_NETWORK_URL=https://sepolia.drpc.org

