# Network Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# Wallet Connect Configuration
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Configuration
VITE_CONTRACT_ADDRESS=0xD491d3757c243F44FF3077536F261aaC2B023B9F
VITE_USDC_TOKEN_ADDRESS=0x41fda936798b854393029E2ee7b5689087FFcB9a
VITE_STADIUM_VAULT_ADDRESS=0xD491d3757c243F44FF3077536F261aaC2B023B9F

# FHE Configuration
VITE_FHE_NETWORK_URL=https://sepolia.drpc.org

